<article>
	<h1 class="page-title">Add a Listing</h1>
	<div class="content-block">
		<div class="alert-message">
			Here are the events I have like this. <br class="mobile-only">Don’t see yours? Add it or duplicate an old event!
		</div>
		<section class="first">
			<form>
				<fieldset>
			    <legend>What type of listing would you like to add?</legend>
				<span class="radio-container"> <input type="radio" name="listing-type" value="Event"><span>Event</span></span>
				<span class="radio-container"> <input type="radio" name="listing-type" value="Venue"><span>Venue</span></span>
				<span class="radio-container"> <input type="radio" name="listing-type" value="Performance Group"><span>Performance Group</span></span>
				<span class="radio-container"><input type="radio" name="listing-type" value="Other Organisation"><span>Other Organisation</span></span>
			  </fieldset>
			  <fieldset>
			    <legend>Listing Name</legend>
				<input type="text" name="listing-name">
			  </fieldset>
			  <fieldset class="col6">
			    <legend>Website</legend>
				<input type="text" name="website">
			  </fieldset>
			  <fieldset class="col6">
			    <legend>Location</legend>
				<input type="text" name="location">
			  </fieldset>
			  <fieldset class="radio-fieldset">
				  <span class="radio-container">
				  		<input type="radio" name="whose-event" value="my event"><span>This is my event</span>
				  </span>
				  <span class="radio-container">
				  		<input type="radio" name="whose-event" value="not my event"><span>This is not my event</span>
				  </span>
				 <button type="button" class="call-to-action-btn arrow">Add Event<span>></span></button>
			  </fieldset>
			</form>
		</section>
	</div>
	<div class="clear"></div>
</article>
<aside>
	<section>
		<h3 class="mascot-speaks">Let's add a new event</h3>
		<p>Thanks for adding an event! It must have something to do with the secularism or the secular community.</p>
		<p>Tell me more about it so I can see if I already have it in my database.
	</section>
</aside>
<div class="clear"></div>

