@import 'variables';

@mixin box-corners($radius: $rounded-corner1-radius) {
  -webkit-border-radius : $radius;
  -moz-border-radius    : $radius;
  border-radius         : $radius;
}

@mixin rounded-button {
  -webkit-border-radius : $rounded-button-radius;
  -moz-border-radius    : $rounded-button-radius;
  border-radius         : $rounded-button-radius;
}

@mixin rounded-button1 {
  -webkit-border-radius : $rounded-button1-radius;
  -moz-border-radius    : $rounded-button1-radius;
  border-radius     : $rounded-button1-radius;
}

@mixin rounded-button2 {
  -webkit-border-radius : $rounded-button2-radius;
  -moz-border-radius    : $rounded-button2-radius;
  border-radius     : $rounded-button2-radius;
}

@mixin box-shadow {
  -webkit-box-shadow    : $shadow;
  -moz-box-shadow     : $shadow;
  box-shadow        : $shadow;
}

@mixin body-box {
  background-color : $color-box-background;
  color : $color-box-foreground;

  @include box-shadow;
  @include box-corners;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin linear-gradient($fromColor, $toColor) {
  background: -webkit-gradient(linear, left top, right top, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background:         linear-gradient(top, $fromColor, $toColor);
  background-color: $fromColor; /* Fallback Color */
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@mixin popup-title{
  margin: 4px 0px;
  font-family: $font-mascot-speaks;
  font-size: 24px;
  letter-spacing: 1px;
  color: $color-popup-title;
}

@mixin popup-mascot{
  position: absolute;
  content: image-url('mascot-top.png');
  top: -87px;
  z-index: 1;
}
@mixin month-weather-style{
  font-family: $font-header;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

/* buttons mixins */

@mixin btn-background($bg-color){
  background: lighten($bg-color, 10%);
  border-bottom: 2px solid darken($bg-color, 10);
  @if $bg-color == $color-trueButton-background  {
    background: $bg-color;
  } @else if $bg-color == $color-falseButton-background {
     background: adjust_hue(desaturate(lighten($bg-color, 9.5), 9.5), 22);
  }

  &.hover,
  &:hover {
    background: darken($bg-color, 5%);
  }
  &.click,
  &:focus {
    outline: none;
    background: darken($bg-color, 15%);
  }
}

