@import 'variables';
@import 'breakpoints';
@import 'addons/clearfix';

@mixin grid-container($max-width: $grid-max-width, $container-padding: true, $pad-in-mobile: false) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @if $container-padding {
    max-width: $grid-max-width + (2 * $grid-container-padding);
    padding-left: $grid-container-padding;
    padding-right: $grid-container-padding;
  } @else {
    max-width: $grid-max-width;
  }

  @if not($pad-in-mobile) {
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include clearfix;
}

%grid-container {
  @include grid-container($grid-max-width, $grid-container-padding, true);
}

%wrapper {
  @extend %grid-container;
}

%column {
  float: left;
  margin: 0;
  padding: 0;
}

@for $i from 1 through 12 {
  %column-#{$i} {
    @extend %column;
    width: ($i / 12) * 100%;
  }
}

@mixin negative-margin-hack($height: 500em) {
  margin-bottom: - $height;
  padding-bottom: $height;
}

%same-height-columns {
  @include negative-margin-hack;
}
