$em-base: 14px;

// Bourbon
@import 'settings/prefixer';
@import 'helpers/directional-values';
@import 'functions/is-length';
@import 'functions/shade';
@import 'functions/tint';
@import 'functions/unpack';
@import 'addons/clearfix';
@import 'addons/position';
@import 'addons/prefixer';
@import 'addons/size';
@import 'css3/appearance';

@import 'grid';

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin popup-title {
  margin: 4px 0px;
  font-family: $font-mascot-speaks;
  font-size: 24px;
  letter-spacing: 1px;
  color: $color-modal-title;
}

@mixin popup-mascot {
  position: absolute;
  content: image-url('mascot-top.png');
  top: -87px;
  z-index: 1;
}
