@import 'functions/assign-inputs';
@import 'addons/buttons';
@import 'addons/text-inputs';
// These Bourbon addons make variables for all button-like elements and all text input elements
// available. Refer Bourbon documentation or source code for details

// $all-buttons
// $all-buttons-active
// $all-buttons-focus
// $all-buttons-hover

// $all-text-inputs
// $all-text-inputs-active
// $all-text-inputs-focus
// $all-text-inputs-hover



// Way to tell Bourbon we are on Rails
$asset-pipeline: true;

// Grid

$grid-max-width: 1014px;
$grid-container-padding: 20px;

$grid-gutter: 10px;

// Various extra

$shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

$rounded-corner-radius: 8px;
$rounded-button-radius: 30px;
$rounded-button1-radius: 3px;
$rounded-button2-radius: 5px;

$border-radius: 4px;

// Typography

$font-main: 'Droid-Sans';
$font-header: 'Cabin';
$font-footer: 'Cabin';
$font-mascot-speaks: 'Dimbo';
$font-icons: 'ei-icons';

$font-size-heading-primary: 38px;
$font-size-heading-secondary: 26px;
$font-size-larger: 18px;
$font-size-base: 16px;
$font-size-smaller: 14px;
$font-size-small: 12px;

$line-height-base: 1.625;
$spacing-base: $line-height-base * 1em;
$spacing-small: $spacing-base / 2;

$headings-line-height: 1.2;
$headings-spacing-base: $headings-line-height * 1em;
$headings-spacing-small: $headings-spacing-base / 2;
$headings-letter-spacing: 3px;

$font-size-btn: $font-size-larger;

// Colors Palette

$blue: #28ace6;
$blue-rgba: rgba(6, 173, 225, 1);
$light-blue: #a3ddf5;
$white: #fff;
$green: #51c101;
$orange: #f2630c;
$yellow: #fff200;
$grey: #ececec;
$black: #3f3f3f;
$red: #d00000;

//
// Primary Colors
//

// Main page background colors
$color-bg-primary: $blue;               // Color 1, page background
$color-bg-secondary: $light-blue;       // Color 1a, background for some blocks in footer and header
$color-text-primary: $white;            // Color 2. Text and icons on the page background

$color-sidebar-title: $orange;

$color-block-text: $black;
$color-block-text-important: $blue;
$color-block-bg: $color-text-primary;   // Color 8. Block background, must look good inside Color 1.

$color-block-header-bg: $green;
$color-block-header-text: $blue;

$color-modal-title: $color-block-text-important;

// Color 5-6. Positive items and alerts. Should contrast with Color 8.
$color-alert-text: $color-block-bg;
$color-alert-success-bg: $green;
$color-alert-error-bg: $red;
// Color 7. Background for optional box header. Should contrast with Color 8
$color-alert-notice-bg: $yellow;

//
// Secondary Colors : These colors could be set but usually they are derived.
//

// Color 11-12. Used for optional buttons and subtle regions in the box
$color-block-neutral-bg: mix($color-bg-primary, $color-block-text, 10%);
$color-block-neutral-text: $color-bg-primary;

// Colors 14 & 15. For alternating list items inside a box. Contrast with Color 3.
$color-list-even-bg: $color-block-bg;
$color-list-odd-bg: darken($color-list-even-bg, 90%);

//
// Secondary configuration. Do not hard code any colors or fonts below here!
// The user should not need to change anything here to get a dramatically new theme.
//

//
// Buttons
//
// Remove that shit to buttons component

$button-vertical-padding: 10px;
$button-horizontal-padding: 40px;
$button-with-arrow-horizontal-padding: 13px;
$mobile-button-vertical-padding: 8px;
$mobile-button-horizontal-padding: 28px;
$mobile-button-with-arrow-horizontal-padding: 13px;

$color-defaultButton-foreground: $white;

$color-callToAction-background: $green;
$color-ticketsButton-background: $red;
$color-defaultButton-background: $blue;
$color-trueButton-background: $green;
$color-falseButton-background: $red;
