@charset "UTF-8";

$icons: (
    blog: "\e62c",
    calendar: "\e62d",
    chat_forum: "\e62e",
    delete: "\e62f",
    edit: "\e630",
    email: "\e631",
    facebook: "\e632",
    google_plus: "\e633",
    help: "\e634",
    home: "\e635",

    keys: "\e636",
    magnifying_glass: "\e637",
    podcast: "\e638",
    share: "\e63a",
    twitter: "\e63b",
    website_link: "\e63c",

    active: "\e63d",
    arrow: "\e600",
    arrow-back: "\e645",
    cross: "\e601",
    home_main: "\e602",
    search: "\e603",
    settings_search: "\e604",

    share_inverse: "\e605",
    tags: "\e606",
    tick: "\e607",

    age: "\e63e",
    featured: "\e63f",
    indoor: "\e640",
    price: "\e641",
    size: "\e642",
    sporty: "\e643",
    type: "\e644",
    ticket: "\e608"
);
