@import 'variables';
@import 'placeholders';
@import 'breakpoints';
@import 'icon-map';

$em-base: 14px;

// Bourbon
@import 'settings/prefixer';
@import 'addons/clearfix';
@import 'addons/prefixer';
@import 'css3/appearance';
@import 'css3/font-feature-settings';

@import 'grid';

@mixin parent {
  @each $selector in & {
    $length: length($selector);

    @if ($length == 1) {
      @error "Used parent mixin on a top-level selector";
    } @else {
      $parent: nth($selector, 1);
      @for $i from 2 to $length {
        $parent: append($parent, nth($selector, $i));
      }

      @at-root #{$parent} {
        @content;
      }
    }
  }
}

@mixin icon($icon: false, $position: before, $base_styles: false) {
  @if $position == both {
    $position: 'before, &:after';
  }

  @if $base_styles {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }

    @if $base_styles {
      @extend %icon;
    }

    @content;
  }
}

@mixin rounded-button {
  -webkit-border-radius : $rounded-button-radius;
  -moz-border-radius    : $rounded-button-radius;
  border-radius         : $rounded-button-radius;
}

@mixin rounded-button1 {
  -webkit-border-radius : $rounded-button1-radius;
  -moz-border-radius    : $rounded-button1-radius;
  border-radius     : $rounded-button1-radius;
}

@mixin rounded-button2 {
  -webkit-border-radius : $rounded-button2-radius;
  -moz-border-radius    : $rounded-button2-radius;
  border-radius     : $rounded-button2-radius;
}

@mixin popup-title {
  margin: 4px 0px;
  font-family: $font-mascot-speaks;
  font-size: 24px;
  letter-spacing: 1px;
  color: $color-popup-title;
}

@mixin popup-mascot {
  position: absolute;
  content: image-url('mascot-top.png');
  top: -87px;
  z-index: 1;
}
