@import 'variables';

%icon {
  font-family: $font-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
}

%list-inline {
  display: inline-block;

  & > li {
    display: inline;
  }
}
