@import 'variables';

%icon {
  font-family: $font-icons;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
}

%list-inline {
  display: inline-block;

  & > li {
    display: inline;
  }
}

%vertical-align-middle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
