// Way to tell Bourbon we are on Rails
$asset-pipeline: true;

$grid-max-width: 1014px;
$grid-container-padding: 20px;

$shadow: 0 2px 2px rgba( 0, 0, 0, 0.2 );

// Fonts

$font-main: 'Droid Sans';
$font-header: 'Cabin';
$font-footer: 'Cabin';
$font-mascot-speaks: 'Dimbo';
$font-icons: 'ei-icons';

// Colors Palette.

$official-blue: #28ace6;
$official-blue-rgba: rgba(6, 173, 225, 1);
$official-light-blue: #a3ddf5;
$official-white: #fff;
$official-green: #51c101;
$official-orange: #f2630c;
$official-yellow: #fff200;
$official-grey: #ececec;
$official-black: #3f3f3f;
$official-red: #d00000;

//
// Primary Color Configuration : These are the colors that users will most often want to set.
//

// Color 1. Main page background
$color-bg-primary: $official-blue;
$color-bg-secondary: $official-light-blue;

// Color 2. Text and icons on the primary background. Contrast to Color 1.
$color-primary-foreground: $official-white;

// Color 3. Text and icons in boxes, contrast with Color 8.
$color-box-foreground: $official-black;

// Color 4. Important text and icons. Must be prominent & contrast with Color 8
$color-box-important-text: $official-blue;


// Color 5-6. Positive items and alerts. Should contrast with Color 8.
$color-positive-alert-background: $official-green;
$color-negative-alert-background: $official-red;


// Color 7. Background for optional box header. Should contrast with Color 8
$color-box-header-background: $official-green;

//
// Secondary Colors : These colors could be set but usually they are derived.
//

// Color 8. Boxes on the primary background, so must look good inside Color 1.
$color-box-background: $color-primary-foreground;

// Colors 9-10. Should look good on their respective background.
$color-positive-alert-foreground: $color-box-background;
$color-negative-alert-foreground: $color-box-background;


// Color 11-12. Used for optional buttons and subtle regions in the box
$color-box-neutral-background: mix($color-bg-primary, $color-box-foreground, 10%);
$color-box-neutral-foreground: $color-bg-primary;


// Color 13. The text of a box's optional header section. Constrast with Color 7.
$color-box-header-foreground: $color-box-background;

// Colors 14 & 15. For alternating list items inside a box. Contrast with Color 3.
$color-box-list-even-background: $color-box-background;
$color-box-list-odd-background: darken($color-box-list-even-background, 90%);

// Colors 16-18. For HTML forms.
// I have hardcoded these because really they should be the same no matter what theme we are using.
$color-HTML-form-background: #fff;
$color-HTML-form-foreground: #333;
$color-HTML-form-separator: mix($color-HTML-form-foreground, $color-HTML-form-background, 80%);

//
// Secondary configuration. Do not hard code any colors or fonts below here!
// The user should not need to change anything here to get a dramatically new theme.
//

$rounded-corner-radius: 8px;
$rounded-corner1-radius: 4px;
$rounded-button-radius: 30px;
$rounded-button1-radius: 3px;
$rounded-button2-radius: 5px;

$border-radius: $rounded-corner1-radius;

$color-box-main-background: $official-white;
$color-box-header-background: $official-green;
$color-box-body-text: $official-black;
$color-box-sidebar-title: $official-orange;
$color-popup-title: $color-box-important-text;

$color-form-select: $official-green;


// button variables

$button-vertical-padding: 10px;
$button-horizontal-padding: 40px;
$button-with-arrow-horizontal-padding: 13px;
$mobile-button-vertical-padding: 8px;
$mobile-button-horizontal-padding: 28px;
$mobile-button-with-arrow-horizontal-padding: 13px;

$color-defaultButton-foreground: $official-white;

$color-callToAction-background: $official-green;
$color-ticketsButton-background: $official-red;
$color-defaultButton-background: $official-blue;
$color-trueButton-background: $official-green;
$color-falseButton-background: $official-red;
