


@font-face {
  font-family: 'Dimbo';
  font-weight: normal;
  font-style: normal;
  src: font-url('dimbo/dimbo-regular.otf');
  src: font-url('dimbo/dimbo-regular.ttf') format('truetype'),
       font-url('dimbo/dimbo-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-weight: normal;
  font-style: normal;
  src: font-url('cabin/cabin-regular.otf');
  src: font-url('cabin/cabin-regular.ttf') format('truetype'),
       font-url('cabin/cabin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-weight: bold;
  font-style: normal;
  src: font-url('cabin/cabin-semibold.otf');
  src: font-url('cabin/cabin-semibold.ttf') format('truetype'),
       font-url('cabin/cabin-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  font-style: normal;
  src: font-url('droid-sans/droid-sans.otf');
  src: font-url('droid-sans/droid-sans.ttf') format('truetype'),
       font-url('droid-sans/droid-sans.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  font-style: normal;
  src: font-url('droid-sans/droid-sans-bold.otf');
  src: font-url('droid-sans/droid-sans-bold.ttf') format('truetype'),
       font-url('droid-sans/droid-sans-bold.woff') format('woff'),
       font-url('droid-sans/droid-sans-bold.svg') format('svg');
}

@font-face {
  font-family: 'Reklame';
  font-weight: normal;
  font-style: normal;
  src: font-url('reklame/reklame-regular.otf');
}

@font-face {
  font-family: 'ei-icons';
  font-weight: normal;
  font-style: normal;
  src: font-url('ei-icons/ei-icons.eot');
  src: font-url('ei-icons/ei-icons.eot?#iefix') format('embedded-opentype'),
       font-url('ei-icons/ei-icons.ttf?') format('truetype'),
       font-url('ei-icons/ei-icons.woff?') format('woff'),
       font-url('ei-icons/ei-icons.svg?#ei-icons') format('svg');
}