@import 'globals';

.logo {
  float: left;
  margin-top: 10px;

  @include mobile {
    height: 45px;
    width: auto;
    margin-top: 8px;
  }
}

.header-navigation {
  width: 100%;
  background-color: $color-primary-background;
}

header nav {
  float: right;
  margin-top: 38px;
  line-height: 42px;

  @include mobile {
    margin-top: 0;
  }
}

header nav > a {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include tablet {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 16px;
  }

  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
}

.home-link {
  @include icon(home_main, before, true);
  color: $color-primary-foreground;
  font-size: 24px;
}

.social {
  display: inline-block;
  padding-left: 25px;
}

.quicksearch {
  width: 100%;
  background-color: saturate(adjust_hue(lighten($color-primary-background, 27), -1), 1.4);
}

.quicksearch .wrapper {
  @include mobile {
    width: 100%;
  }
}

.quicksearch h2 {
  float: left;
  margin: 0;
  color: $official-black;
  font-family: $font-main;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 1px;

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    width: 50%;
    margin-left: 0;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  }
}

.search-box-icon-wrapper {
  position: relative;
}

.search-box {
  position: relative;
  float: right;
  width: 35%;
  margin-top: 9px;
  padding: 10px 5px 10px 10px;
  border: none;
  @include box-corners;
  @include opacity(0.8);

  @include mobile {
    width: 50%;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    font-size: 12px;
  }
}

@include media-max(640px) {
  .quicksearch h2 {
    display: none;
  }
  .search-box {
    width: 100%;
  }
}
