@import 'globals';

.icon {
  display: inline-block;
}

.icon,
.icon:hover {
  text-decoration: none;
}

.icon:before {
  @extend %icon;
}

.icon-facebook {
  width: 40px;
  height: 40px;
  @include icon(facebook) {
    font-size: 40px;
  }
}

.icon-facebook.grey {
  margin-left: 0;
}

.icon-twitter {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  @include icon(twitter) {
    font-size: 40px;
  }
}

.icon-search {
  @include opacity(1);
  @include icon(search) {
    color: lighten($color-box-foreground, 18.5%);
  }

  position: absolute;

  width: 20px;
  height: auto;

  right: 8px;
  top: 15px;

  font-size: 24px;
}
