@import 'globals';

/* main modules */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

html {
  background: image-url('bg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include tablet {
    height: auto;
  }

  @include mobile {
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

h1.page-title {
  padding-left: 20px;
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: -62px;
}

.content-wrapper:after {
  content: "";
  display: block;
}

footer,
.content-wrapper:after {
  height: 62px;
}

a {
  font-family: $font-header;
  color: $color-box-important-text;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrapper {
  position: relative;
  width: 1014px;
  margin: 0 auto;

  @include tablet {
    width: 95%;
  }

  @include mobile {
    width: 90%;
  }

}

.content-wrapper {
  @extend .wrapper;
  margin-top: 40px;
}

.footer-wrapper {
  @extend .wrapper;

  @include mobile {
    width: 100%;
  }

}

main,
.main-content {
  float: left;
  width: 685px;

  @include tablet {
    margin: 0 auto;
    float: none;
  }

  @include mobile {
    width: 100%;
  }

}

section {
  float: left;
  width: 100%;
}

.col {
  float: left;
  width: 100%;
}

.col6 {
  float: left;
  width: 50%;

  @include mobile {
    width: 100%;
  }

}

.col6:nth-child(2n) {
  margin: 0;

  @include mobile {
    margin-bottom: 20px;
  }

}

.col4 {
  float: left;
  width: 33.3%;

  @include mobile {
    width: 100%;
  }

}

.col3 {
  float: left;
  width: 25%;
}

.content-block {
  @include box-corners;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background-color: $color-primary-foreground;

  & section.first {
    padding: 0px;
    padding-top: 25px;
  }

}

.tags {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.2px;
  color: $color-box-important-text;
}

.sprite {
  background: image-url('sprites.png') no-repeat;
}

@media screen and (max-width:767px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .content-wrapper {
    margin-bottom: -40px;
  }

  footer,
  .content-wrapper:after {
    height: 40px;
  }

}