@import 'globals';

.main-heading {
  font-family: $font-mascot-speaks;
  letter-spacing: $headings-letter-spacing;
}

h1, h2, h3, h4 {
  margin-bottom: $spacing-small;
  line-height: $headings-line-height;
}

h1, h2 {
  color: $color-block-text-important;
}

h1 {
  font-size: $font-size-heading-primary;

  @include mobile {
    font-size: $font-size-heading-secondary;
  }
}

h2 {
  font-family: $font-header;
  font-size: $font-size-heading-secondary;
}

legend,
address,
a.load {
  font-family: $font-header;
}

/* Colors */
legend,
.alert-message {
  color: lighten($color-block-text, 18.5%);
}
