<p>Welcome to Events INSIDER!</p>
<br>
<p>We've spent the last six months building a major upgrade to be launched in 2016.</p>

<p>Meanwhile, our theatre reviews and other articles are going strong, and check out the content that's drawn nearly 40,000 followers on <a href="https://twitter.com/oddbostonevents">Twitter</a> and <a href="https://www.facebook.com/groups/102947671077">Facebook</a> and elsewhere online.</p>
<br>
<h1>Articles</h2>
<%= render partial: 'articles/article', collection: @articles %>
<%= paginate @articles %>
