.flash-container {
  padding-bottom: 10px;

  .flash {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
  }

  .flash-alert {
    background: #F2DEDE;
    color: #A94442;
  }

  .flash-notice {
    background: #DFF0D8;
    color: #3C763D;
  }

  .flash-warning {
    background: #FCF8E3;
    color: #8A6D3B;
  }
}
