@import 'globals';

$footer-menu-columns-border: 2px solid saturate(lighten($color-box-foreground, 29), 0.85);
$footer-font-size: 18px;
$footer-font-size-mobile: 12px;

footer {
  margin-top: 20px;
  font-family: $font-footer;
  font-size: $footer-font-size;
  font-weight: bold;
  letter-spacing: 1px;
  color: $color-box-foreground;

  @include mobile {
    font-size: $footer-font-size-mobile;
  }
}

footer nav a {
  font-family: $font-footer;
}

.footer-navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lighten($color-bg-primary, 40%);

  @include mobile {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.footer-navigation-wrapper {
  @extend %wrapper;
}

.footer-menu {
  width: 100%;
  overflow: hidden;
  padding: 0 40px;
  @include clearfix;

  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-menu-advertise,
.footer-menu-all,
.footer-menu-social {
  @extend %same-height-columns;

  @include mobile {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

}

.footer-menu-advertise,
.footer-menu-social, {
  @extend %column-3;
}

.footer-menu-advertise {
  padding-right: 2%;
}

.footer-menu-all {
  @extend %column-6;
  border-left: $footer-menu-columns-border;
  border-right: $footer-menu-columns-border;

  @include mobile {
    @extend %list-inline;
    border: none;
  }

}

.footer-menu-all > li {
  float: left;
  display: inline;
  width: 50%;
  padding-left: 10%;

  @include mobile {
    width: auto;
    line-height: 1.5em;
    padding-left: 0;
    padding-right: 20px;
  }

}

.footer-menu-advertise > a {
  float: left;
  margin-top: 10px;
}

.footer-menu-social {
  padding-left: 2%;
  text-align: center;

  @include mobile {
    padding-left: 0;
    margin-top: 5px;
  }

  & > h3 {
    font-family: $font-footer;
    margin-bottom: 25px;

    @include mobile {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 0;
      line-height: 25px;
    }
  }

  & > ul {
    margin: 0 auto;
    vertical-align: bottom;

    @include mobile {
      @extend %inline-block;
    }
  }
}

.copyright {
  width: 100%;
  padding: 20px 0px;
  background-color: $color-bg-primary;

  @include mobile {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.copyright-wrapper {
  @include grid-container($grid-max-width, $grid-container-padding, false);
}

.copyright-text,
.footer-misc-links {
  @extend %column-6;
  @include mobile {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center !important;
  }
}

.copyright-text {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-misc-links {
  float: right;
  @extend %list-inline;
  text-align: right;

  & > li {
    margin-left: 45px;
  }

  @include mobile {
    background-color: $color-bg-secondary;
  }
}
