@import 'globals';

header {
  font-family: $font-header;
  font-size: $font-size-larger;
  letter-spacing: 1px;
  color: $color-text-primary;
}

.logo-link {
  line-height: 0;
  & img {
    @include mobile {
      height: 45px;
      width: auto;
    }
  }

}

.home-link {
  & span {
    line-height: 32px;
    vertical-align: middle;
  }
}

.header-navigation {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: $color-bg-primary;
}

header nav {
  @include clearfix;
}

header nav > a,
header nav > .social {
  display: block;
  float: left;
  line-height: 78px;
  @include mobile {
    line-height: 45px;
  }

}

header nav > a {
  padding-left: 20px;
  padding-right: 20px;

  &:first-of-type {
    padding-left: 0;
    padding-right: 0;
  }

  @include tablet {
    padding-left: 10px;
    padding-right: 10px;
    font-size: $font-size-base;
  }

  @include mobile {
    padding-left: 5px;
    padding-right: 5px;
    font-size: $font-size-base - 2px;
  }

}

.social {
  margin-bottom: -12px;
}

.quicksearch {
  width: 100%;
  background-color: saturate(adjust_hue(lighten($color-bg-primary, 27), -1), 1.4);
}

.quicksearch-wrapper {
  @include grid-container($grid-max-width, $grid-container-padding, false);

  @include mobile {
    width: 100%;
  }

}

.quicksearch h2 {
  float: left;
  margin: 0;
  color: $color-block-text;
  font-family: $font-main;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 1px;

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    width: 50%;
    margin-left: 0;
    font-size: $font-size-base - 2px;
    line-height: 28px;
    text-align: center;
  }

}

.header-search-wrapper {
  position: relative;
}

.header-search {
  position: relative;
  float: right;
  width: 35%;
  margin-top: 9px;
  padding: 10px 5px 10px 10px;
  border: 0 !important;
  box-shadow: none !important;
  opacity: 0.8;

  font-size: $font-size-smaller;

  @include mobile {
    width: 50%;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 !important;
    font-size: $font-size-small;
  }
}

@include media-max(640px) {
  .quicksearch h2 {
    display: none;
  }

  .header-search {
    width: 100%;
  }
}
