@import 'globals';

html {
  width: 100%;
  height: 100%;
  background: image-url('bg.jpg') no-repeat;
  background-size: cover;

  @include mobile {
    background-size: contain;
  }
}

// Variable height sticky footer via table layout
// http://stackoverflow.com/questions/9126777/keep-footer-with-variable-height-on-bottom
body {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}

header, footer {
  display: table-row;
  height: 1px;
}

.content-row {
  display: table-row;
  height: 100%;
}

main {
  width: 100%;
  @include desktop {
    float: left;
    width: 685px;
  }

  @include tablet {
    margin: 0 auto;
    float: none;
  }
}

.wrapper {
  @extend %wrapper;
}

.content-wrapper {
  @extend %wrapper;
  margin-top: 40px;
  margin-bottom: 20px;
}

.content-block {
  float: left;
  width: 100%;
  padding: 20px;
  border-radius: $border-radius;
  background-color: $color-block-bg;
}

aside {
  float: left;
  width: 300px;
  margin: 70px 0 0 20px;

  @include tablet {
    display: none;
  }
}

.row {
  @extend %row;
}

.gutter {
  @extend %gutter;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @extend %column-#{$i};
  }

  .gutter > .col-#{$i} {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

.gutter-left {
  margin-left: $grid-gutter;
}

.gutter-right {
  margin-right: $grid-gutter;
}
