@import 'globals';

$color-btn-text: $color-block-bg;
$color-btn-primary: $green;
$color-btn-secondary: $blue;
$color-btn-buy-tickets: $red;
$color-btn-positive: $green;
$color-btn-negative: $red;

#{$all-buttons},
.btn {
  display: inline-block;

  border: 0;
  border-radius: $border-radius;

  appearance: none;
  text-decoration: none;
  user-select: none;

  line-height: 1;
  vertical-align: middle;

  font-size: $font-size-btn;
  color: $color-btn-text;
  cursor: pointer;
  white-space: nowrap;
}

.btn {
  padding: $spacing-small ($spacing-small * 3);
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding-top: 5px;

  color: $color-block-text;
  font-size: 24px;
  line-height: 1;

  &:hover, & > span:hover {
    cursor: pointer;
    color: $blue;
  }
}

.btn-primary-action,
input[name="commit"],
button[type="submit"] {
  background-color: tint($color-btn-primary, 15%);
  border-bottom: 2px solid shade($color-btn-primary, 20%);

  &:hover, &:focus {
    background-color: $color-btn-primary;
  }
}

.btn-secondary-action,
.btn-cancel {
  background-color: tint($color-btn-secondary, 15%) !important;
  border-bottom: 2px solid shade($color-btn-secondary, 20%) !important;

  &:hover, &:focus {
    background-color: $color-btn-secondary !important;
  }
}

.btn-arrow {
  padding-left: $spacing-small;
  padding-right: $spacing-small;

  &:after {
    content: '>';
    display: inline-block;
    float: right;
    margin-left: $spacing-base;
  }
}
