@import 'globals';

.date-picker-wrapper {
  background: white;

  & .drp_top-bar .default-top {
    @include popup-title;
  }

  & table .caption {
    & .next:before {
      content: image-url('polygon-arrow-right.png');
    }

    & .prev:before {
      content: image-url('polygon-arrow-left.png');
    }

  }

  & .month-name {
//    @include month-weather-style;
    color: $color-block-text;
    text-transform: capitalize;
  }

  & .month-wrapper {
    border: none;

    & table .week-name {
      text-transform: capitalize;
    }

    & th {
      color: $color-block-text-important;
      font-family: $font-header;
    }

  }

  & h3.mascot-speaks {
    @include popup-title;
    position: relative;
    margin-bottom: 0;
    font-size: 28px;

    & + p {
      float: left;
      z-index: 1000000000000;
      width: 100%;
      line-height: 1.5;
      margin: 0;
    }

  }

  & .popup-control {
    width: 100%;
  }

  & .first-date-selected {
    background: $color-block-text-important !important;
  }

}

.month-wrapper {
  margin-top: 60px;
}

.time-selector {
  float: left;
  width: 49%;

  & input {
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 7px;
  }

  & .am-pm-spinner-text {
    border: none;
    margin: 0;
  }

  & .am-pm-spinner {
    margin: 0;
  }

  & .ui-spinner {
    margin: 5px;

    & .ui-spinner-up,
    & .ui-spinner-down {
      background-size: 100% auto;
      width: 10px;
      height: 8px;
      margin-right: 3px;
    }

    & .ui-spinner-up {
      background: url(/assets/polygon-arrow-up.png);
      margin-top: 3px;
    }

    & .ui-spinner-down {
      background: url(/assets/polygon-arrow-down.png);
      margin-bottom: 3px;
    }

  }

  & p {
    margin-bottom: 2px;
    color: $color-block-text-important;
    font-family: $font-header;
  }

}

#end-time:after {
  content: "";
  clear: both;
}

.month-chooser,
.d-o-w,
.dates {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}

.dates span {
  border-radius: $border-radius;
  cursor: pointer;

  &.inactive {
    color: lighten($color-block-text, 45%);
  }

  &.selected {
    color: $color-text-primary;
    background: $color-modal-title;
  }

  &:hover {
    color: lighten($color-block-text, 15%);
    background: lighten($color-modal-title, 20%);
  }

}

.month-chooser {
  border-radius: $border-radius;
  padding: 5px 10px;
  text-align: center;
}

.month-chooser span,
.weather-container .day {
  // @include month-weather-style;
}

.month-chooser a {
  text-decoration: none;

  & span:before {
    font-size: 12px !important;
  }

  &.previous {
    float: left;
  }

  &.next {
    float: right;
  }

}

.weather-container {
  & .date {
    font-size: 15px;
    color: lighten($color-block-text, 45%);
  }

  & p {
    font-size: 15px;
    color: lighten($color-block-text, 15%);
    text-align: left;
  }

}

.weather-image-container {
  float: left;
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
}

.d-o-w span {
  float: left;
  width: calc(100% / 7);
  font-size: 14px;
  font-family: $font-header;
  text-align: center;
  color: lighten($color-block-text, 45%);
}

.dates span {
  float: left;
  width: 27px;
  height: 27px;
  margin-right: 3px;
  padding: 4px 5px;
  margin-bottom: 3px;
  font-family: $font-header;
  font-size: 13px;
  text-align: center;

  &:nth-child(7n) {
    margin-right: 0;
  }

}

.time + label {
  position: relative;
  padding: 4px 4px 0 0;
  margin-right: 30px;
  font-family: $font-header;
  font-size: 13px;
  color: lighten($color-block-text, 5%);
  font-weight: 100;

  &:nth-child(3n) {
    margin-right: 60px;
    margin-left: 0;
  }

}

.time.last + label {
  margin-right: 0;
}

@media screen and (max-width:767px) {

  /* date picker */
  .datePicker {
    & .popup {
      width: 250px;
      height: 435px;

      & .weather-container {
        display: none;
      }

      &  .calendar-container {
        height: 215px;
        padding: 0 15px 5px 0;
        border: none;
      }

      & .calendar-container {
        height: 215px;
        padding: 0 15px 5px 0;
        border: none;
      }

      & .time-container {
        margin-top: 0;
      }

    }

  }

  .time + label {
    width: 75px;
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 20px;
    }

  }

}
