@import 'globals';
@import 'forms/forms';

.form-group {
  &.iconed {
    & .input-text {
      margin-left: 10px;
      width: calc(100% - 44px);
    }

    & input[type="checkbox"] {
      margin: 10px 0 0 40px;
    }

    & img {
      float: left;
      height: 28px;
      width: auto;
    }

    & span {
      margin-right: 5px;
    }

    & span,
    & input[type="text"],
    & input[type="checkbox"] {
      float: left;
    }

    & .icon_tags,
    & .icon-calendar {
      position: relative;
      height: 25px;
      width: 25px;
    }

    & .icon_tags:before,
    & .icon-calendar:before {
      position: absolute;
      top: 3px;
      left: 0px;
      font-size: 28px;
      color: lighten($color-block-text, 18.5%);
    }
  }

}

.autocomplete {
  & span {
    width: 100%;
  }

  & .tt-menu {
    width: 100%;
    padding-bottom: 10px;
    border: solid 1px lighten($color-block-text, 60%);
    background: white;

    & .tt-suggestion{
      padding-left: 10px ;
    }

    & span {
      position: relative;
      display: block;
      margin: 3px 0px;
      padding: 7px 0;
      padding-left: 35px;

      &:before {
        position: absolute;
        left: 10px;
        content: image-url('add.png');
      }

    }

  }

  &.tt-suggestion {
    padding: 4px 0;
    padding-left: 10px;
  }

  & .tt-suggestion:hover,
  & .tt-menu span:hover {
    background-color: $color-bg-primary;
    color: $color-text-primary;
    cursor: pointer;
  }

}
