@import 'globals';

.icon {
  display: inline-block;
}

.icon,
.icon:hover {
  text-decoration: none;
}

.icon:before {
  @extend %icon;
}

.icon-home {
  @include icon(home_main) {
    font-size: 24px;
    color: $color-primary-foreground;
  }
}

.icon-facebook {
  @include icon(facebook) {
    font-size: 40px;
    @include tablet {
      font-size: 22px;
    }
  }
}

.icon-twitter {
  margin-left: 10px;
  @include icon(twitter) {
    font-size: 40px;
    @include tablet {
      font-size: 22px;
    }
  }
}

.icon-search {
  opacity: 1;
  @include icon(search) {
    color: lighten($color-box-foreground, 18.5%);
  }

  position: absolute;

  width: 20px;
  height: auto;

  right: 8px;
  top: 15px;

  font-size: 24px;
}
