<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>
        
        
    <div class="date-picker-container">

        <div class="popup date-picker">
        
        	<h3 class="mascot-speaks">Pick a date</h3>
			<p>Click a date to select it.</p>
			<div class="calendar-container">
				<div class="month-chooser">
					<a class="previous" href=""><span class="icon-arrow-back"></span></a>
						<span>January</span>
					<a class="next" href=""><span class="icon-arrow"></span></a>
				</div>
				
				<div class="d-o-w">
						<span>Mo</span>
						<span>Tu</span>
						<span>We</span>
						<span>Th</span>
						<span>Fr</span>
						<span>Sa</span>
						<span>Su</span>
				</div>
				<div class="dates">
						<span>1</span> 	<span>2</span>	<span>3</span>
						<span>4</span>	<span>5</span>	<span>6</span>
						<span>7</span>	<span>8</span>	<span>9</span>
						<span>10</span>	<span>11</span>	<span>12</span>
						<span>13</span>	<span>14</span>	<span>15</span>
						<span>16</span>	<span>17</span>	<span>18</span>
						<span class="selected">19</span>	<span>20</span>	<span>21</span>
						<span>22</span>	<span>23</span>	<span>24</span>
						<span>25</span>	<span>26</span>	<span>27</span>
						<span>28</span>	<span>29</span>	<span>30</span>
						<span class="inactive">1</span>
						<span class="inactive">2</span>
						<span class="inactive">3</span>
						<span class="inactive">4</span>
						<span class="inactive">5</span>
						
				</div>
			</div>
			<div class="weather-container">
				<span class="day">Friday</span><br><span class="date"> Jan 19</span>
				<div class="weather-image-container">
					
					<%= image_tag 'weather.png', alt: 'weather image', class: '' %>
				</div>
				<p>Rain is likely in the morning, sunny afternoon highlights in the 60x then snow and meteor strike.</p>
			</div>
			<div class="time-container">
				<input type="checkbox" class="time" name="time" value="morning" checked /><label>Morning</label>
				<input type="checkbox" class="time" name="time" value="afternoon" /><label>Afternoon</label>
				<input type="checkbox" class="time" name="time" value="night"  /><label>Night</label>
				<input type="checkbox" class="time last" name="time" value="weekends" /><label>Weekends</label>
			</div>
			
			<div class="popup-control">
				<button type="button" class="true-btn save">Save</button>
				<a class="cancel" href = "javascript:void(0)">Cancel</a>
			</div>
			
        </div>
	</div>
	
        <div id="fade" class="overlay"></div>


<script src="../js/vendors/jquery.js"></script>
<script src="../js/vendors/typeahead.js"></script>
<script src="../js/vendors/ddslick.js"></script>
<script src="../js/script.js"></script>
<script>

</script>				  
</body>

</html>