<div class="modal fade popup-container login" id="signup" role="dialog" >
  <div class="popup">
    
    <h3 class="mascot-speaks">Create an Account</h3>
    <span class="help"></span>
    <span class="close"></span>
    <p>You don't have to log in with Facebook or another 3rd party service. You can create an account right here with an email and password. My password is 'bananas', but I hope you'll choose something stronger with letters, numbers, and symbols.</p>
    <form>
      <label>Email</label><input type="text" name="email" value="">
      <label>Password</label><input type="password" name="password" value="">
      <label>Confirm Password</label><input type="password" name="password" value="">
    </form>
    <div class="popup-control">
      <button type="button" class="true-btn save">Save</button>
      <a class="cancel" href = "javascript:void(0)">Cancel</a>
    </div>
    
  </div>
</div>