@import 'globals';
@import 'icons';

.alert-message {
  position: relative;
  background: $official-yellow;
  padding: 10px;
  font-family: $font-header;
  font-weight: bold;
  font-size: 16px;
  color: lighten($color-box-foreground, 18.5%);
  text-align: center;
  @include box-corners;
  @include box-shadow;

  &:before {
    position: absolute;
    top: 3px;
    left: -75px;
    content: image-url('mascot-side-left.png');
  }

  &:after {
    @extend .icon-cross;
    font-size: 10px;
    color: lighten($color-box-foreground, 18.5%);
    float: right;
    margin-top: -2px;
    margin-right: -2px;
  }

}

@media screen and (max-width:767px) {
  .alert-message {
    text-align: left;
    font-size: 14px;
    font-weight: 100;

    &:before {
      position: absolute;
      top: -52px;
      right: 20px;
      text-align: right;
      content: image-url('mascot-top-yellow.png') !important;
    }

    &:after {
      margin-top: -17px;
    }

  }

}