@import 'globals';

.button {
  color: $color-defaultButton-foreground;
  font-family: $font-body-text;
  font-size: 15px;
  @include rounded-button1;
  border: none;
  cursor: pointer;
}

.default-btn {
  position: relative;
  padding: 6px 24px;
  @extend .button;
  @include btn-background($color-defaultButton-background);
 
  &.text-left,  &.text-right {
    padding: 6px 15px;
  }

  &.text-left span {
    margin-left: 20px;
  }

  &.text-right span {
    margin-right: 20px;
  }
}

.save-draft,
.call-to-action-btn {
  @extend .button;
  font-size: 18px;
  padding: 8px 20px;
}

.save-draft {
 @include btn-background($color-defaultButton-background);
}

.call-to-action-btn {
  padding: $button-vertical-padding $button-horizontal-padding;
  @include btn-background($color-trueButton-background);

  &.arrow {
    padding: $button-vertical-padding $button-with-arrow-horizontal-padding;
    width: 150px;

    // Double border
    &.hover:before,
    &:hover:before {
      margin: (-$button-vertical-padding) (-$button-with-arrow-horizontal-padding);
    }
  }

  &.arrow span {
    margin-left: 30px !important;
    color: $color-primary-foreground;
    font-size: 20px;
  }
}

.choice-btn {
  @extend .button;
  width: 48px;
  padding: 4px 0;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.true-btn {
  @extend .choice-btn;
  @include btn-background($color-trueButton-background);
}

.false-btn {
  @extend .choice-btn;
  @include btn-background($color-falseButton-background);
}

@media screen and (max-width:767px) {
  .button {
    font-size: 14px;
  }

  .save-draft {
    padding: 8px 20px;
  }

  .call-to-action-btn {
    padding: 8px 30px;
  }

}