@import 'globals';
@import 'icons';

.datePicker {
  & .popup {
    float: none;
    margin: 0 auto;
    margin-top: 150px;
    width: 495px;
    height: 450px;
    z-index: 1001;

    &:before {
      content: "";
    }

    & h3.mascot-speaks {
      position: relative;
      margin-bottom: 0;
      font-size: 28px;
    }

    & .help:after {
      @extend .icon-help;
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 15px !important;
    }

    & .close:after {
      @extend .icon-delete;
      position: absolute;
      top: 5px;
      right: 0px;
      font-size: 15px !important;
      cursor: pointer;
    }

    & .popup-control {
      width: 100%;
      margin-top: 25px;
    }

    & .calendar-container,
    & .weather-container {
      float: left;
      width: 225px;
      height: 240px;
    }

    & .calendar-container {
      padding: 0 15px 15px 0;
      border-right: solid 1px $official-grey;
    }

    & .weather-container {
      padding: 0 0 15px 20px;
      text-align: center;
    }

    & .time-container {
      float: left;
      width: 100%;
      margin-top: 15px;
    }

    & input[type='radio'] {
      margin: 0px;
    }

  }

}

.month-chooser,
.d-o-w,
.dates {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}

.dates span {
  @include box-corners;
  cursor: pointer;

  &.inactive {
    color: lighten($color-box-foreground, 45%);
  }

  &.selected {
    color: $color-primary-foreground;
    background: $color-popup-title;
  }

  &:hover {
    color: lighten($color-box-foreground, 15%);
    background: lighten($color-popup-title, 20%);
  }

}

.month-chooser {
  @include box-corners;
  padding: 5px 10px;
  text-align: center;
}

.month-chooser span,
.weather-container .day {
  font-family: $font-header;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.month-chooser a {
  text-decoration: none;

  & span:before {
    font-size: 12px !important;
  }

  &.previous {
    float: left;
  }

  &.next {
    float: right;
  }

}

.weather-container {
  & .date {
    font-size: 15px;
    color: lighten($color-box-body-text, 45%);
  }

  & p {
    font-size: 15px;
    color: lighten($color-box-body-text, 15%);
    text-align: left;
  }

}

.weather-image-container {
  float: left;
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
}

.d-o-w span {
  float: left;
  width: calc(100% / 7);
  font-size: 14px;
  font-family: $font-header;
  text-align: center;
  color: lighten($color-box-body-text, 45%);
}

.dates span {
  float: left;
  width: 27px;
  height: 27px;
  margin-right: 3px;
  padding: 4px 5px;
  margin-bottom: 3px;
  font-family: $font-header;
  font-size: 13px;
  text-align: center;

  &:nth-child(7n) {
    margin-right: 0;
  }

}

.time + label {
  position: relative;
  padding: 4px 4px 0 0;
  margin-right: 30px;
  font-family: $font-header;
  font-size: 13px;
  color: lighten($color-box-foreground, 5%);
  font-weight: 100;

  &:nth-child(3n) {
    margin-right: 60px;
    margin-left: 0;
  }

}

.time.last + label {
  margin-right: 0;
}

/* Custom Checkbox */

/* Base for label styling */

[type="checkbox"] {
  &:not(:checked),&:checked {
    position: absolute;
    left: -9999px;
  }

  &:not(:checked) + label,&:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  /* checkbox aspect */
  &:not(:checked) + label:before,&:checked + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    @include rounded-button2;
  }

  /* checked mark aspect */
  &:not(:checked) + label:after,&:checked + label:after {
    @extend .icon-tick;
    position: absolute;
    top: 5px;
    left: 4px;
    font-size: 14px !important;
    color: $color-form-select !important;
    transition: all .2s;
  }

  /* checked mark aspect changes */
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  /* disabled checkbox */
  &:disabled:not(:checked) + label:before,&:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }

  &:disabled {
    &:checked + label:after {
      color: #999;
    }

    & + label {
      color: #aaa;
    }

  }

  /* accessibility */
  &:checked:focus + label:before,
  &:not(:checked):focus + label:before {
    border: 1px dotted blue;
  }

}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

@media screen and (max-width:767px) {

  /* date picker */
  .datePicker {
    & .popup {
      width: 250px;
      height: 435px;

      & .weather-container {
        display: none;
      }

      &  .calendar-container {
        height: 215px;
        padding: 0 15px 5px 0;
        border: none;
      }

      & .calendar-container {
        height: 215px;
        padding: 0 15px 5px 0;
        border: none;
      }

      & .time-container {
        margin-top: 0;
      }

    }

  }

  .time + label {
    width: 75px;
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 20px;
    }

  }

}