@import 'globals';
@import 'icons';

.date-picker {
  width: 495px;
  height: 450px;
}

.date-picker:before {
  content: "";
}

.date-picker h3.mascot-speaks {
  position: relative;
  font-size: 28px;
  margin-bottom: 0;
}

.date-picker h3.mascot-speaks:after {
  @extend .icon-help:before;

  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px !important;
}

.date-picker .popup-control {
  width: 100%;
  margin-top: 25px;
}

.date-picker .calendar-container, .date-picker .weather-container {
  float: left;
  width: 225px;
  height: 240px;
}

.date-picker .calendar-container {
  border-right: solid 1px $official-grey;
  padding: 0 15px 15px 0;
}

.date-picker .weather-container {
  text-align: center;
  padding: 0 0 15px 20px;
}

.date-picker .time-container {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.month-chooser, .d-o-w, .dates {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}

.dates span {
  @include box-corners;
  cursor: pointer;
}

.dates span.inactive {
  color: lighten($color-box-foreground, 45%);
}


.dates span.selected {
  background: $color-popup-title;
  color: $color-primary-foreground;
}

.dates span:hover {
  background: lighten($color-popup-title, 20%);
  color: lighten($color-box-foreground, 15%);
}

.month-chooser {
  @include box-corners;

  padding: 5px 10px;
  text-align: center;
}

.month-chooser span, .weather-container .day {
  font-family : $font-header;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.month-chooser a {
  text-decoration: none;
}

.month-chooser a span:before {
  font-size: 12px !important;
}

.month-chooser a.previous {
  float: left;
}

.month-chooser a.next {
  float: right;
}


.weather-container .date {
  color: lighten($color-box-body-text, 45%);
  font-size: 15px;
}

.weather-container p {
  font-size: 15px;
  color: lighten($color-box-body-text, 15%);
  text-align: left;
}



.weather-image-container {
  float: left;
  width: 100%;
  padding: 20px 0;
  height: auto;
  text-align: center;
}

.weather-image-container img {}

.d-o-w span {
  float: left;
  width: calc( 100% / 7 );
  text-align: center;
  font-family: $font-header;
  color: lighten($color-box-body-text, 45%);
  font-size: 14px;
}

.dates span {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 27px;
  height: 27px;
  padding: 4px 5px;
  text-align: center;
  font-family : $font-header;
  font-size: 13px;
}

.dates span:nth-child(7n) {
  margin-right: 0;
}

.time + label {
  position: relative;
  padding: 4px 4px 0 0;
  font-family : $font-header;
  color : lighten($color-box-foreground, 5%);
  font-size: 13px;
  margin-right: 30px;
  font-weight: 100;
}

.time + label:nth-child(3n) {
  margin-right: 60px;
  margin-left: 0;
}

.time.last + label {
  margin-right: 0;
}

.date-picker input[type='radio'] {
  margin: 0px;
}



/* Custom Checkbox */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 19px; height: 19px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  @include rounded-button2;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  @extend .icon-tick:before;
  position: absolute;
  top: 5px; left: 4px;
  font-size: 14px !important;
  color: $color-form-select !important;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}



@media screen and (max-width: 767px) {
  /* date picker */

  .popup.date-picker {
    width: 250px;
    height: 435px;
  }

  .date-picker .weather-container {
    display: none;
  }

  .date-picker .calendar-container {
    border: none;
    padding: 0 15px 5px 0;
    height: 215px;
  }

  .date-picker .time-container {
    margin-top: 0;
  }

  .time + label {
    width: 75px;
    margin-right: 20px;
  }

  .time + label:nth-child(3n) {
    margin-right: 20px;
  }

}
