@import 'globals';
@import 'icons';

/* header and sub-header */
html, body {
	min-height: 100%;
}

header {
	width: 100%;
	height: 108px;
	background-color : $color-primary-background;
	& nav {
		float: right;
		margin-top: 62px;
	}
}

nav a {
	float: left;
	margin-left: 45px;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	&.icons:last-of-type{
		margin-left : 10px;
	}
}

.sub-footer nav a.icons:last-of-type {
	margin-left : 17px;
}

.icons.home:before {
	@extend .icon-home_main:before;
	float: left;
	width: 24px;
	height: 30px;
	color: $color-primary-foreground;
}

nav a.icons.social {
	&.twitter:before,
	&.fb:before{
		float: left;
		width: 40px;
		height: 40px;
		margin-top: -8px;
		font-size: 40px;
		color: $color-primary-foreground;
	}

	&.grey {
		float: left;
		width: 40px;
		height: 40px;

		&:before {
			width: 40px;
			height: 40px;
			color: darken($color-primary-foreground, 25%);
		}
	}

}

.icons {
	&.social {
		&.fb:before {
			@extend .icon-facebook:before;
		}

		&.fb.grey {
			margin-left: 0;
		}

		&.twitter:before {
			@extend .icon-twitter:before;
		}
	}

	&.search {
		position: absolute;
		width: 20px;
		height: auto;
		right: 7px;
		top: 12px;
		@include opacity(1);
		z-index: 1000;

		&:before {
			@extend .icon-search:before;
			color : lighten($color-box-foreground, 18.5%);
		}
	}
}

.logo {
	float: left;
	margin-top: 28px;
}

.sub-header {
	width: 100%;
	height: 55px;
	background-color: saturate(adjust_hue(lighten($color-primary-background, 27), -1), 1.4);
	& h2 {
		float: left;
		margin-top: 12px;
		font-family: "DroidSans";
		font-size: 24px;
		font-style: italic;
		font-weight: 500;
		letter-spacing: 1px;
	}
}

.tools {
	float: right;
	margin-top: 15px;
}

.sprite {
	background: image-url('sprites.png') no-repeat;
}

.header-mobile-icons {
	position: relative;
	float: left;
	margin: 0px 10px;
	width: 32px;
	height: 32px;
}

.header-mobile-icons:before {
	position: absolute;
	top: 4px;
	color: $color-primary-foreground;
}

.nav-mobile-icon {
	&:before {
		top:1px;
		font-size: 32px;
		@extend .icon-tags:before;
	}

	&.toggle {
		background-position: -50px 0;
	}
}

.search-mobile-icon {
	&:before {
		@extend .icon-search:before;
	}

	&.toggle {
		background-position: -50px -50px;
	}
}

.header-icons-divider {
	float: left;
	height: 32px;
	width: 2px;
	border-left: solid 1px $color-primary-foreground;
}

.search.desktop-only {
	display: block;
}


@media screen and (max-width: 959px) {
	nav a {
		margin-left: 18px;
		font-size: 16px;
	}

	.sub-header h2 {
		font-size: 19px;
	}
}


@media screen and (max-width: 767px) {

	header {
		height: 60px;
		& nav {
			display: none;
		}
	}

	.logo {
		height: 45px;
		width: auto;
		margin-top: 8px;
	}

	.sub-header {
		height: 25px;
		& h2 {
			width: 100%;
			margin: 5px 0;
			font-size: 12px;
			text-align: center;
			text-shadow: 0 2px 2px rgba( 0, 0, 0, 0.2 );
		}
	}

	#header-menu {
		display: none;
		padding-bottom: 3px;
		@include box-shadow;
		background-color: $color-primary-foreground;
		font-size: 12px;
		overflow: hidden;

		& a {
			margin: 0;
			width: 33%;
			padding: 3px 10px;
			font-size: 14px;
			color: saturate(lighten($color-box-foreground, 29), 0.85);

			&:nth-child(3n+1) {
				text-align: center;
			}
		}
	}

	.search-bar {
		position: relative;
		display: none;
		overflow: hidden;
		border-radius: 10px;
		@include box-shadow;

		& span {
			position: absolute;
			top: 5px;
			right: 0;
			margin-right: 5%;
			padding: 0 4px;
			border-left: solid 1px saturate(lighten($color-box-foreground, 29), 0.85);
			font-family: "Cabin";
			font-size: 12px;
			color: saturate(lighten($color-box-foreground, 29), 0.85);
			text-transform: uppercase;
		}
	}

	.search-box-mobile {
		margin-top: 0;
		width: 100%;
	}

	input[type="text"].search-box-mobile {
		font-size: 12px;
		height: 24px;
	}

	.search.desktop-only {
		display: none;
	}
}