@import 'globals';

@font-face {
  font-family: 'ei-icons';
  src: font-url('ei-icons.eot');
}

@font-face {
  font-family: 'ei-icons';
  src: font-url('ei-icons/ei-icons.eot?-itc1zr');
  src: font-url('ei-icons/ei-icons.eot?#iefix-itc1zr') format('embedded-opentype'), font-url('ei-icons/ei-icons.ttf?-itc1zr') format('truetype'), font-url('ei-icons/ei-icons.woff?-itc1zr') format('woff'), font-url('ei-icons/ei-icons.svg?-itc1zr#ei-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-container {
  width: 240px;
  height: 40px;
  background: #e5e5e5;
}

.ei-icon {
  color: $color-box-important-text;
  font-family: 'ei-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ei-icon1 {
  @extend .ei-icon;
  font-size: 20px;
}

.icon-blog {
  @extend .ei-icon;
  content: "\e62c";
}

.icon-calendar:before {
  @extend .ei-icon;
  content: "\e62d";
}

.icon-chat_forum {
  @extend .ei-icon;
  content: "\e62e";
}

.icon-delete {
  @extend .ei-icon;
  content: "\e62f";
}

.icon-edit {
  @extend .ei-icon;
  content: "\e630";
}

.icon-email {
  @extend .ei-icon;
  content: "\e631";
}

.icon-facebook {
  @extend .ei-icon;
  content: "\e632";
}

.icon-google_plus {
  @extend .ei-icon;
  content: "\e633";
}

.icon-help {
  @extend .ei-icon1;
  content: "\e634";
}

.icon-home {
  @extend .ei-icon;
  content: "\e635";
}

.icon-keys {
  @extend .ei-icon;
  content: "\e636";
}

.icon-magnifying_glass {
  @extend .ei-icon;
  content: "\e637";
}

.icon-podcast {
  @extend .ei-icon;
  content: "\e638";
}

.icon-share_inverse {
  @extend .ei-icon;
  content: "\e639";
}

.icon-share {
  @extend .ei-icon;
  content: "\e63a";
}

.icon-twitter {
  @extend .ei-icon;
  content: "\e63b";
}

.icon-website_link {
  @extend .ei-icon;
  content: "\e63c";
}

.icon-arrow {
  @extend .ei-icon;
  content: "\e600";
}

.icon-cross {
  @extend .ei-icon;
  content: "\e601";
}

.icon-home_main {
  @extend .ei-icon;
  content: "\e602";
}

.icon-search {
  @extend .ei-icon;
  content: "\e603";
}

.icon_settings_search {
  @extend .ei-icon;
  content: "\e604";
}

.icon-share_inverse {
  @extend .ei-icon;
  content: "\e605";
}

.icon-tags {
  @extend .ei-icon;
  content: "\e606";
}

.icon-tick {
  @extend .ei-icon;
  content: "\e607";
}

.icon_tags:before {
  @extend .ei-icon;
  content: "\e606";
  margin: 0px;
}

.icon-share-1 {
  @extend .ei-icon;
  content: "\e605";
}

.icon-settings_search {
  @extend .ei-icon;
  content: "\e604";
}

.icon-search {
  @extend .ei-icon;
  content: "\e603";
}

.icon-cross {
  @extend .ei-icon;
  content: "\e601";
}

.icon-arrow-back {
  @extend .ei-icon;
  content: "\e645";
}

.icon-arrow {
  @extend .ei-icon;
  content: "\e600";
}

.icon-active {
  @extend .ei-icon;
  content: "\e63d";
}

.icon-age {
  @extend .ei-icon;
  content: "\e63e";
}

.icon-featured {
  @extend .ei-icon;
  content: "\e63f";
}

.icon-indoor {
  @extend .ei-icon;
  content: "\e640";
}

.icon-price {
  @extend .ei-icon;
  content: "\e641";
}

.icon-size {
  @extend .ei-icon;
  content: "\e642";
}

.icon-sporty {
  @extend .ei-icon;
  content: "\e643";
}

.icon-type {
  @extend .ei-icon;
  content: "\e644";
}

.icon-ticket {
  @extend .ei-icon;
  content: "\e608";
}