@charset "UTF-8";

@import 'globals';

$color-listing-header-border: lighten($color-box-foreground, 38%);

.listing-section {
  padding: 0px 20px;
  margin-bottom: 20px;

  & fieldset {
    padding: 0px;

    &.col4 {
      padding: 0 5px;
    }

    &.with-help:after {
      right: 5px;
    }

  }

  & h2 {
    position: relative;
    font-size: 24px;
    font-family: $font-header;
    color: lighten($color-box-foreground, 8%);
    border-bottom: solid 1px $color-listing-header-border;
    padding-bottom: 4px;

    &:after {
      right: 0px;
    }

  }

  &.inactive h2 {
    color: lighten($color-box-foreground, 38%);
  }

  & button {
    float: right;
  }

  .listing-section.with-podcast h2 {
    @include icon(podcast, after) {
      font-size: 21px;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 17px;
      height: auto;
    }
  }
}

.events.listing-section {
  & h2 {
    border: 0px;
    width: 685px;
    margin-left: -20px;

    &:after {
      position: relative;
      float: right;
      margin-top: 6px;
    }

    & a,
    .see-all-events {
      text-decoration: none;
      font-size: 16px;
      float: right;
      margin-top: 8px;
    }

  }

  & h5 {
    border-bottom: solid 1px $color-listing-header-border;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 643px;
  }

}

.event-section.listing-section h2:after {
  display: none;
}

.form-actions {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  & button,
  & input[type="submit"] {
    float: right;
    margin-right: 20px;
  }

  & button.save-draft {
    margin-top: 2px;
  }

  a.cancel {
    margin-top: 15px;
  }

}

fieldset.with-help,
.listing-section h2 {
  @include icon(help, after) {
    position: absolute;
    top: 0px;
    right: 25px;
    width: 17px;
    height: auto;
    font-size: 20px;
  }
}

.compulsory legend span {
  color: $color-negative-alert-background;
}

/* Location */
.address-map {
  float: right;
  width: 280px;
  height: auto;
}

.location-option-icons,
.location-social-icons {
  float: right;
}

.location-option-icons span:before,
.location-social-icons span:before {
  font-size: 23px;
}

.location-social-icons {
  margin-right: 40px;
}

address {
  font-style: normal;
}

.location {
  & h3 {
    margin-top: 0px;
    margin-bottom: 5px;

    & a {
      font-size: 20px;
    }

  }

  & address {
    float: left;
    width: 50%;

    & span {
      float: left;
      width: 100%;
    }

    & p {
      float: left;
      margin-top: 10px;
      font-size: 14px;
    }

  }

  & .distance {
    position: relative;
    float: right;
    margin-top: 10px !important;
    margin-right: 20px !important;
    font-size: 12px;
    clear: both;
    font-family: "Cabin";
    font-weight: bold;
    text-align: right;
    letter-spacing: 1px;
    color: #6e6e6e;

    &:after {
      @extend .icon-edit;
      position: absolute;
      top: 0px;
      right: -22px;
      font-size: 14px;
    }

  }

}

/* Breakpoint for mobile devices */
@media screen and (max-width:767px) {
  .address-map {
    float: left;
  }

  .location address {
    width: 100%;

    & span {
      margin-bottom: 0;
    }

  }

  .location .distance {
    float: left;
    text-align: left;
  }

}

.listing-section .content {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.photo-container {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 5px;

  &:after {
    position: absolute;
    content: image-url('close-black.png');
    right: 7px;
    top: 7px;
  }

}

img.photo {
  float: left;
  width: 100%;
  height: auto;
}

.listing-section.links .content {
  border: solid 1px lighten($color-box-foreground, 57%);
}

.web-links {
  float: left;
  width: 100%;
  height: 35px;
  padding: 5px;
  border-bottom: solid 1px lighten($color-box-foreground, 57%);

  &:nth-child(2n+1) {
    background-color: darken($color-box-main-background, 4%);
  }

  &:last-child {
    border-bottom: none;
  }

  & a {
    position: relative;
    float: left;
    padding-left: 45px;
    margin-top: 4px;
    font-size: 16px;
    text-decoration: none;
  }

}

.listing-section .main-page {
  @include icon(home) {
    position: absolute;
    left: 0px;
    top: -2px;
  }
}

.listing-section .twitter {
  @include icon(twitter) {
    position: absolute;
    left: 0px;
  }
}

.content .icon {
  float: right;
  font-size: 20px;

  &.icon-edit {
    margin-right: 5px;
  }

}

.load-more {
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-top: solid 1px lighten($color-box-foreground, 57%);
}

.load-more a {
  float: none;
  margin: 0 auto;
  font-family: $font-header;
  font-size: 18px;
  text-decoration: none;
}

.close-div {
  float: left;
  padding: 20px 20px 0 20px;
  text-align: right;
}

/* single-listing */
.listings-outer-wrapper {
  float: none;
  width: 100%;
  margin: 0 auto;
}

.single-listing {
  position: relative;
  float: left;
  width: 100%;
  padding: 0px;
  border-bottom: solid 1px lighten($color-box-foreground, 57%);
}

.listing-wrapper {
  float: left;
  padding: 12.5px 10px;
}

.single-listing.sponsored {
  @include icon(ticket, after) {
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-left: -40px;
    font-size: 40px !important;
    color: $official-red !important;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
}

.sponsored .listing-wrapper {
  border: solid 1px $color-positive-alert-background;
  background-color: lighten($color-primary-background, 40%);
}

.single-listing {
  &::after,
  p:s:after {
    clear: both;
  }

  & .image-content {
    float: left;
    width: 28%;

    & img {
      width: 100%;
    }

  }

  & .main-content {
    float: left;
    width: 45%;
    padding-left: 10px;

    & h3 {
      margin-top: 0px;
      padding: 0px;
      font-family: $font-body-text;
      font-size: 16px;
      font-weight: 100;
      color: darken($color-box-important-text, 1.4%);
    }

    & p {
      font-family: $font-body-text;
      font-size: 14px;
      font-weight: 100;
      color: lighten($color-box-body-text, 15.25%);
    }

    & a {
      font-family: $font-body-text;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      color: darken($color-box-important-text, 1.4%);
    }

  }

  & .side-content {
    float: left;
    width: 22%;
    margin-left: 4%;
    font-family: $font-header;

    &:after {
      float: left;
      content: "";
      clear: right;
    }

    & span {
      padding: 1px 0;
      font-size: 12.5px;
      font-weight: bold;
      color: lighten($color-box-body-text, 15.25%);
    }

  }

}

.side-content address .title {
  margin: 0px;
  font-size: 18px;
  font-family: Cabin;
  font-weight: 100;
  color: darken($color-box-important-text, 1.4%);
}

.single-listing .side-content span.special-message {
  float: left;
  margin-bottom: 10px;
  color: darken($color-positive-alert-background, 5%);
}

.side-content a {
  color: $color-box-important-text;
}

.side-content address {
  float: left;
  font-style: normal;

  & span {
    float: left;
    width: 100%;
  }

}

section.events h2 {
  margin-bottom: 0px;
  padding: 0px 20px;
  font-size: 20px;
  font-family: $font-header;
  letter-spacing: 1px;
  color: $color-box-important-text;
}

section.events h5 {
  margin: 0px 20px;
  margin-top: 2px;
  padding-bottom: 5px;
  border-bottom: solid 1px darken($color-box-main-background, 10%);
  font-size: 14px;
  font-family: $font-header;
  font-weight: lighter;
  color: lighten($color-box-foreground, 22.5%);
}

.icons-row .icon {
  position: relative;
  float: left;
  margin-right: 3px;
  clear: none;
}

section.events .icon:last-child {
  margin: 0px;
}

.icons-row {
  float: left;
  margin-top: 5px;
}

.no-underline {
  text-decoration: none;
}

@media screen and (max-width:767px) {
  .listings-outer-wrapper {
    float: none;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .single-listing .image-content {
    width: 100%;
  }

  .single-listing .main-content {
    width: 100%;
    padding-left: 0px;

    & img {
      width: 100%;
    }

  }

  .single-listing .side-content {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
  }

  .side-content address {
    width: 80%;
  }

  section.events .icons-row {
    width: 20%;
    margin-top: 0px;
    text-align: right;
  }

  section.events .icon:last-child {
    float: right;
    width: 32px;
    text-align: right;
  }

  .form-actions {
    & button {
      &:first-child {
        margin-left: 10px;
      }

      &.save-draft {
        margin-top: 0;
      }

    }

    & a.cancel {
      margin-top: 10px;
    }

  }

}

@-moz-document url-prefix() {
  fieldset.with-help:after,
  .listing-section h2:after {
    top: -22px;
  }

}

.contacts .contact {
  float: left;
  width: 100%;
  border: solid 1px #d0d0d0;
  padding: 15px;

  &:nth-child(2n+1) {
    background-color: darken($color-box-main-background, 4%);
  }

  & div {
    font-size: 15px;
    font-family: $font-body-text;
    margin-top: 5px;
    letter-spacing: 0.5px;
    color: lighten($color-box-foreground, 22.5%);

    &:first-child {
      margin-top: 0px;
    }

  }

  & h3 {
    display: inline;
    padding: 0px;
    font-family: $font-body-text;
    font-size: 20px;
    font-weight: 100;
    color: $color-box-body-text;
  }

  & h4 {
    display: inline;
    padding: 0px;
    font-family: $font-body-text-bold;
    font-size: 15px;
    font-weight: bold;
    color: $color-box-body-text;
  }

}

.owner {
  position: relative;
  padding-left: 28px;
  font-size: 13px;

  @include icon(keys) {
    position: absolute;
    top: -2px;
    left: 0px;
    font-size: 24px;
  }
}