@import 'globals';
@import 'icons';

/* Common for all logins */
.login {
  & .popup {
    width: 368px;
    height: 330px;

    & label {
      width: 100%;
    }

    & input[type="text"],
    & input[type="password"] {
      float: left;
      width: 100%;
      padding-left: 0;
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 0;
    }

    & .forgot {
      float: left;
    }

  }

}

/* Sign up */
#signup {
  & .popup {
    // height: 522px;

    & .confirm-message {
      float: left;
      width: 100%;
      text-align: center;
    }

    & .popup-control {
      margin-bottom: 30px;
    }

    & .already-have {
      float: left;
      width: calc(100% + 42px);
      padding-top: 15px;
      padding-left: 21px;
      border-top: solid 1px #aaa;
      margin-left: -21px;

      & p {
        margin-bottom: 0;
      }

    }

  }

}