@import 'globals';

/* main modules */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background: image-url('bg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1.page-title{
  padding-left: 20px;
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: -62px;
}

.content-wrapper:after {
  content: "";
  display: block;
}

footer,
.content-wrapper:after {
  height: 62px;
}

a {
  font-family: $font-header;
  color: $color-box-important-text;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.wrapper {
  position: relative;
  float: none;
  width: 1014px;
  margin: 0 auto;
}

.content-wrapper {
  @extend .wrapper;
  margin-top: 40px;
}

.footer-wrapper {
  @extend .wrapper;
}

main,
.main-content {
  float: left;
  width: 685px;
}

section {
  float: left;
  width: 100%;
}

.col {
  float: left;
  width: 100%;
}

.col6 {
  float: left;
  width: 50%;
}

.col6:nth-child(2n) {
  margin: 0;
}

.col4 {
  float: left;
  width: 33.3%;
}

.col3 {
  float: left;
  width: 25%;
}

.content-block {
  @include box-corners;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background-color: $color-primary-foreground;

  & section.first {
    padding: 0px;
    padding-top: 25px;
  }

}

.tags {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.2px;
  color: $color-box-important-text;
}

@media screen and (max-width:1065px) {
  .wrapper {
    width: 95%;
  }

  aside {
    display: none;
  }

  .main-content {
    margin: 0 auto;
    float: none
  }

}

@media screen and (max-width:767px) {
  html {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .wrapper {
    width: 90%;
  }

  .main-content {
    width: 100%;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .col6,
  .col4 {
    width: 100%;
  }

  .col6:nth-child(2n) {
    margin-bottom: 20px;
  }

}